.button-live {
  height: 28px;
  background: none;
  color: white;
  cursor: pointer;
  margin-left: 10px;
  font-weight: bold;
  border-radius: 5px;
  background-color: #40444B;
  border: 1px solid gray;
  background-image: url(../../images/video.png);
  background-repeat: no-repeat;
  background-size: 10px 10px;
  background-position-x: 38px;
  background-position-y: 8px;
  padding-right: 25px;
}
.button-live:focus {
  outline: none;
}
.button-live:hover {
  opacity: .6;
}
